main {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;


}

header {
    grid-area: header;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    background-color: #8cc4f8;
    padding-top: 12px;

}

aside {
    grid-area: aside;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #E8EBE4;


}

aside>h4 {
    font-size: 16px;
    margin: 5px;
    border-bottom: 2px solid #E8EBE4;
    border-right: 2px solid #E8EBE4;

}


section {
    grid-area: section;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid #E8EBE4;



}

footer {
    grid-area: footer;
    background-color: #8cc4f8;

}

main {
    min-height: 100vh;
    display: grid;
    grid-template-areas: "header header header"
        "aside section section"
        "aside section section"
        "footer footer  footer ";
    grid-template-columns: 200px auto auto;
    grid-template-rows: 80px auto 80px;
    grid-gap: 5px;
}

section>article {
    display: flex;
    flex-direction: column;
    text-align: center;
}

section>article>div>img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    padding: 7px;
    border-radius: 10%;

}

#pagos {
    display: flex;
    flex: column;
    justify-content: center;
    background-color: azure;
    padding: 50px;
}

.empresa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.empresa>h2 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    margin-top: -10px;
    margin-right: 5px;
}

.empresa>p {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 16px;

}

footer>h5 {
    background-color: azure;
    text-align: center;
}

.card-body {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 14px;
}

.alert {
    text-align: center;
}

.formulario>h4 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
}

.casilleros {
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 16px;
    padding-left: 500px;

}
